section {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: row;
}
section img{
  width: 65%;
}
section div{
  text-align: center;
}
.linetag{
text-align: center;
margin: 0.5% auto 0;
}
.linetag img{
  width: 40%;
}
